<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994664589232-f0fuga6n5l3iut25j3l6j2r0mq78p3ge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994664589232-f0fuga6n5l3iut25j3l6j2r0mq78p3ge</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>994664589232-d7bvhr4h11uqvfobfp8vil71dmm3sf8g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRRELL2sM5B1pJGqLYVD6gLG_yOvih0-U</string>
	<key>GCM_SENDER_ID</key>
	<string>994664589232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.markTheDate</string>
	<key>PROJECT_ID</key>
	<string>mark-the-date</string>
	<key>STORAGE_BUCKET</key>
	<string>mark-the-date.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994664589232:ios:69c9b1d5674793b7465875</string>
</dict>
</plist>